@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: #ffffff;
}

.nav_section {
  height: 10vh;
  margin: 0 10vw;
  padding: 0 10rem;
  width: 80vw;
  z-index: 99;
}
@media only screen and (max-width: 600px) {
  .nav_section {
    margin: 0;
    padding: 1rem 0;
    width: 100vw;
  }
}
.nav_section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_section nav .nav_logo {
  color: #EEE5E9;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav_section nav .nav-btn {
  color: #ffffff;
  display: none;
}
.nav_section nav a:link {
  color: #EEE5E9;
  text-decoration: none;
}
.nav_section nav a:visited {
  color: #EEE5E9;
  text-decoration: none;
}
.nav_section nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.nav_section nav a:focus {
  color: #ffffff;
  text-decoration: none;
}
.nav_section nav ul {
  list-style: none;
  display: flex;
}
.nav_section nav ul li {
  padding: 1em;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 2px;
}
.nav_section nav .mobile_nav {
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav_section nav .desktop_nav {
    display: none;
  }
  .nav_section nav .mobile_nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    background: #272727;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .nav_section nav .mobile_nav .close {
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
  }
  .nav_section nav .nav-btn {
    display: block;
    padding-right: 1rem;
  }
  .nav_section nav .nav-btn span.material-symbols-outlined {
    font-size: 40px;
  }
  .nav_section nav a.nav_logo,
  .nav_section nav .quick_contact_section,
  .nav_section nav .about_section_text {
    padding: 0 1rem;
  }
  .nav_section nav a.nav_logo img {
    max-width: 180px;
  }
}

.landing {
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent), url("../img/gallery/silver_sofa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100vw;
}
.landing .header {
  align-self: start;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: auto 10vw;
  padding: 0 10rem;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .landing .header {
    margin: 0;
    padding: 2rem;
  }
}
.landing .header h1 {
  color: #EEE5E9;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  .landing .header h1 {
    font-size: 3rem;
  }
}
.landing .header h4 {
  color: #EEE5E9;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .landing .header h4 {
    padding: 0;
  }
}

.quick_contact_section {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
  text-align: left;
  margin: 0 10vw;
  padding: 0 10rem;
}
@media only screen and (max-width: 600px) {
  .quick_contact_section {
    margin: 0;
    padding: 0;
  }
}
.quick_contact_section p {
  font-size: 1.3rem;
  font-weight: 100;
}
@media only screen and (max-width: 600px) {
  .quick_contact_section p {
    display: none;
  }
}
.quick_contact_section button {
  background-color: #272727;
  border: 0;
  color: #EEE5E9;
  cursor: pointer;
  font-size: 1.3rem;
  margin: auto 2rem;
  padding: 1rem 1.5rem;
  width: 15rem;
}
@media only screen and (max-width: 600px) {
  .quick_contact_section button {
    margin: 0;
  }
}

.about_section {
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1244%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(39%2c 39%2c 39%2c 1)'%3e%3c/rect%3e%3cpath d='M876.57-45.77C790.87-45.53 803.98 11.21 539.17 14.74 274.36 18.27 44.4 262.67-135.63 266.74' stroke='rgba(104%2c 103%2c 103%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M529.89-1.58C436.74 32.49 474.66 310.06 286.14 311.47 97.62 312.88-75.31 183.75-201.36 182.67' stroke='rgba(104%2c 103%2c 103%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M519.45-5.72C395.88 20.37 341.54 340.51 152.82 341.81-35.91 343.11-113.07 177.75-213.82 173.81' stroke='rgba(104%2c 103%2c 103%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M921.4-66.54C804.5-53.69 734.78 200.95 535.54 202.54 336.31 204.13 342.62 132.54 149.69 132.54-43.24 132.54-138.13 202.26-236.17 202.54' stroke='rgba(104%2c 103%2c 103%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M726.38-65.57C586.08-34.55 527.43 332.81 313.94 334.72 100.46 336.63 13.87 159.34-98.49 155.52' stroke='rgba(104%2c 103%2c 103%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1244'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #EEE5E9;
  display: flex;
  justify-content: center;
  padding-left: 10vw;
  height: 70vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .about_section {
    flex-direction: column-reverse;
    padding: 0;
  }
}
.about_section .about_section_text {
  padding-left: 10rem;
  padding-right: 5rem;
  width: 50vw;
}
@media only screen and (max-width: 600px) {
  .about_section .about_section_text {
    padding: 2rem;
    width: 100vw;
  }
}
.about_section .about_section_text h2 {
  font-size: 3rem;
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .about_section .about_section_text h2 {
    font-size: 2.5rem;
  }
}
.about_section .about_section_text p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  padding-bottom: 1rem;
}
.about_section .about_section_text a {
  color: #EEE5E9;
}
.about_section .about_section_img {
  background-image: url("../img/gallery/blue_sofa.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50vw;
}
@media only screen and (max-width: 600px) {
  .about_section .about_section_img {
    min-height: 40vh;
    width: 100vw;
  }
}

.services_section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1253%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1693.87 112.3C1511.48 113.13 1341.2 264.14 980.15 263.5 619.1 262.86 467.18-96.22 266.43-107.04' stroke='rgba(189%2c 189%2c 189%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1589.06 398.7C1437.76 393.6 1276.93 177.6 1033.45 157.9 789.98 138.2 850.09-90.49 755.65-111.31' stroke='rgba(189%2c 189%2c 189%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1529.85 388.85C1404.84 387.05 1317.15 249.21 1053.15 237.65 789.15 226.09 717.38-54.82 576.45-67.52' stroke='rgba(189%2c 189%2c 189%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1670.95 206.22C1485.84 206.65 1225.01 332.24 940.84 329.42 656.68 326.6 709.96-56.34 575.79-98.32' stroke='rgba(189%2c 189%2c 189%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1590.36 365.43C1475.99 356.02 1426.71 142.12 1199.58 124.63 972.45 107.14 921.58-94.97 808.8-103.07' stroke='rgba(189%2c 189%2c 189%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1253'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding-right: 10vw;
  height: 70vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .services_section {
    flex-direction: column;
    padding: 0;
  }
}
.services_section .services_section_img {
  background-image: url("../img/gallery/3seater_sofa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .services_section .services_section_img {
    height: 40vh;
    width: 100vw;
  }
}
.services_section .services_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 10rem;
  padding-left: 5rem;
  width: 50vw;
}
@media only screen and (max-width: 600px) {
  .services_section .services_content {
    padding: 2rem;
    width: 100vw;
  }
}
.services_section .services_content h2 {
  font-size: 3rem;
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
.services_section .services_content .services_card {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.services_section .services_content .services_card span {
  font-size: 3.5rem;
}
.services_section .services_content .services_card h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
}

.review_section {
  margin: 4rem 10vw 2rem;
  padding: 0 10rem;
}
@media only screen and (max-width: 600px) {
  .review_section {
    margin: 0;
    padding: 2rem;
  }
}

.page_header {
  align-items: center;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #272727), url("../img/gallery/cross_sofa.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .page_header {
    height: 50vh;
  }
}
.page_header .header {
  align-self: start;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: auto 10vw;
  padding: 0 10rem;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .page_header .header {
    margin: 0;
    padding: 2rem;
  }
}
.page_header .header h1 {
  color: #EEE5E9;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  .page_header .header h1 {
    font-size: 3rem;
  }
}
.page_header .header h4 {
  color: #EEE5E9;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .page_header .header h4 {
    font-size: 1rem;
  }
}

.quick_contact {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@media only screen and (max-width: 600px) {
  .quick_contact {
    flex-direction: column;
  }
}
.quick_contact p {
  margin: 2rem;
}
.quick_contact button {
  background-color: #272727;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 2.5rem;
}

.footer_section {
  background-color: #272727;
  color: #EEE5E9;
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
}
@media only screen and (max-width: 600px) {
  .footer_section {
    padding: 4rem 2rem;
  }
}
.footer_section .footer {
  display: flex;
  justify-content: space-between;
}
.footer_section .footer p {
  padding-left: 10rem;
}
@media only screen and (max-width: 600px) {
  .footer_section .footer p {
    padding: 0;
  }
}
.footer_section .footer .social_icons {
  display: inline-flex;
  gap: 1rem;
  padding-right: 10rem;
}
@media only screen and (max-width: 600px) {
  .footer_section .footer .social_icons {
    padding: 0;
  }
}
.footer_section .footer .social_icons a {
  color: #EEE5E9;
}
.footer_section .footer_min {
  padding-top: 0.5rem;
}
.footer_section .footer_min p {
  font-size: 0.6rem;
  padding-left: 10rem;
}
@media only screen and (max-width: 600px) {
  .footer_section .footer_min p {
    padding: 0;
  }
}

.about_us_section {
  margin: 2rem 10vw;
  padding: 0 10rem;
}
@media only screen and (max-width: 600px) {
  .about_us_section {
    margin: 0;
    padding: 0;
  }
}
.about_us_section .first {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
.about_us_section .first p {
  font-size: 1.1rem;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
}

.about_us_full .second {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .about_us_full .second {
    flex-direction: column;
  }
}
.about_us_full .second .side_about_img_one {
  flex: 1;
  background-image: url("../img/building.jpg");
  background-size: cover;
  background-position: left;
  min-width: 30vw;
}
@media only screen and (max-width: 600px) {
  .about_us_full .second .side_about_img_one {
    min-height: 30vh;
    min-width: 100vw;
  }
}
.about_us_full .second .side_about_img_two {
  flex: 1;
  background-image: url("../img/gallery/office_space_2.jpg");
  background-size: cover;
  background-position: center;
  min-width: 30vw;
}
@media only screen and (max-width: 600px) {
  .about_us_full .second .side_about_img_two {
    min-height: 30vh;
    min-width: 100vw;
  }
}
.about_us_full .second span {
  background-color: #7c7c7c;
  color: #ffffff;
  padding: 5rem;
  width: 40vw;
}
@media only screen and (max-width: 600px) {
  .about_us_full .second span {
    padding: 2rem;
    width: 100vw;
  }
}
.about_us_full .second p {
  font-size: 1.1rem;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
}

.process_section {
  margin: 2rem 10vw;
  padding: 0 10rem;
}
@media only screen and (max-width: 600px) {
  .process_section {
    margin: 0;
    padding: 0;
  }
}
.process_section .first {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
.process_section .first p {
  font-size: 1.1rem;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
}

.process_full .second {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .process_full .second {
    flex-direction: column;
  }
}
.process_full .second .side_img_one {
  flex: 1;
  background-image: url("../img/gallery/blue_flower_chair.jpeg");
  background-size: cover;
  background-position: center;
  min-width: 30vw;
}
@media only screen and (max-width: 600px) {
  .process_full .second .side_img_one {
    min-height: 30vh;
    min-width: 100vw;
  }
}
.process_full .second .side_img_two {
  flex: 1;
  background-image: url("../img/gallery/silver_sofa.jpg");
  background-size: cover;
  background-position: center;
  min-width: 30vw;
}
@media only screen and (max-width: 600px) {
  .process_full .second .side_img_two {
    min-height: 30vh;
    min-width: 100vw;
  }
}
.process_full .second span {
  background-color: #7c7c7c;
  color: #ffffff;
  padding: 5rem;
  width: 40vw;
}
@media only screen and (max-width: 600px) {
  .process_full .second span {
    padding: 0;
    width: 100vw;
  }
}
.process_full .second p {
  font-size: 1.1rem;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .process_full .second p {
    padding: 2rem;
  }
}

.gallery_display {
  margin: 2rem 10vw;
}
@media only screen and (max-width: 600px) {
  .gallery_display {
    margin: 0;
  }
}
.gallery_display .images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10rem;
}
@media only screen and (max-width: 600px) {
  .gallery_display .images {
    padding: 2rem;
  }
}
.gallery_display .images span {
  cursor: pointer;
  flex: 1 1 auto;
  height: 200px;
  position: relative;
}
.gallery_display .images span img {
  border-radius: 0px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  width: 100%;
}

.contact_info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2vh 10vw;
  padding-top: 2rem;
  width: 80vw;
}
@media only screen and (max-width: 600px) {
  .contact_info {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
}
.contact_info .contact_opening_hours {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding-left: 10rem;
  padding-right: 1rem;
  width: 30vw;
}
@media only screen and (max-width: 600px) {
  .contact_info .contact_opening_hours {
    padding: 2rem;
    width: 100vw;
  }
}
.contact_info .contact_opening_hours h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.5rem auto 1rem;
}
.contact_info .contact_opening_hours p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.contact_info .contact_opening_hours p strong {
  font-weight: 500;
}
.contact_info .form_section {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding-right: 10rem;
  width: 50vw;
}
@media only screen and (max-width: 600px) {
  .contact_info .form_section {
    padding: 2rem;
    width: 100vw;
  }
}
.contact_info .form_section h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.5rem 0 1rem;
}
.contact_info .form_section form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact_info .form_section form input {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #272727;
  outline: none;
  padding: 1rem;
}
.contact_info .form_section form .full {
  width: 100%;
}
.contact_info .form_section form .half {
  width: calc(50% - 0.5rem);
}
@media only screen and (max-width: 600px) {
  .contact_info .form_section form .half {
    width: 100%;
  }
}
.contact_info .form_section form .contact_location {
  font-size: 0.7rem;
}
.contact_info .form_section form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #212121;
  outline: none;
}
.contact_info .form_section form button {
  background-color: #272727;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 2.5rem;
}

.map_section {
  margin: 5vh 10vw;
  width: 80vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .map_section {
    margin: 0;
    width: 100vw;
  }
}
.map_section iframe {
  border-radius: 0px;
  height: 300px;
  padding: 0 10rem;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .map_section iframe {
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */